<!-- sidebar -->
<aside class="w-full lg:w-1/5 flex flex-wrap lg:pr-8 pb-5 text-center leading-normal">
  <div class="w-full pt-5">
    <div class="px-2 py-2 w-full border-b border-grey text-black text-left uppercase mb-5">
      <span class="font-medium text-lg">categories</span>
    </div>
    <a href="#" class="block p-2 rounded w-full border-0 text-left mb-1 capitalize">
      <i class="far fa-circle"></i>
      <span class="font-medium ml-1">all</span>
    </a>
    <a href="#" class="block p-2 rounded w-full border-0 text-left mb-1 capitalize">
      <i class="far fa-circle"></i>
      <span class="font-medium ml-1">science fiction</span>
    </a>
    <a href="#" class="block p-2 rounded w-full border-0 text-left mb-1 capitalize">
      <i class="far fa-circle"></i>
      <span class="font-medium ml-1">animation</span>
    </a>
    <a href="#" class="block p-2 rounded bg-green text-white w-full border-0 text-left mb-1 capitalize">
      <i class="fas fa-check-circle"></i>
      <span class="font-medium ml-1">romantic</span>
    </a>
    <a href="#" class="block p-2 rounded w-full border-0 text-left mb-1 capitalize">
      <i class="far fa-circle"></i>
      <span class="font-medium ml-1">comedy</span>
    </a>
    <a href="#" class="block p-2 rounded w-full border-0 text-left mb-1 capitalize">
      <i class="far fa-circle"></i>
      <span class="font-medium ml-1">tv series</span>
    </a>
    <a href="#" class="block p-2 rounded w-full border-0 text-left mb-1 capitalize">
      <i class="far fa-circle"></i>
      <span class="font-medium ml-1">horror</span>
    </a>
    <a href="#" class="block p-2 rounded w-full border-0 text-left mb-1 capitalize">
      <i class="far fa-circle"></i>
      <span class="font-medium ml-1">old</span>
    </a>
  </div>
  <div class="w-full pt-5">
    <div class="p-2 rounded w-full border-0 text-left mb-1 uppercase mb-2 text-black">
      <span class="font-medium text-lg">box office</span>
    </div>
    <div class="w-full p-2 flex leading-tight">
      <div class="w-24">
        <img src="https://m.media-amazon.com/images/M/MV5BMTkwOGYwZDMtMTViYi00MGU2LWE0MTMtNjM1YTExYTY2YjliL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyNTUwMTIyODg@._V1_UY190_CR3,0,128,190_AL_.jpg"
          class="w-16 h-24 shadow-lg">
      </div>
      <div class="pl-3 w-full  text-left">
        <h1 class="font-normal text-sm mb-1 capitalize">John Wick 3 keymo revels and the new ones and</h1>
        <div class="w-auto py-2 p-0 text-xs text-grey-darkest">
          <i class="fas fa-star text-orange"></i>
          <span>8.6 IMDb</span>
        </div>
      </div>
    </div>
    <div class="w-full p-2 flex leading-tight">
      <div class="w-24">
        <img src="https://m.media-amazon.com/images/M/MV5BMTkwOGYwZDMtMTViYi00MGU2LWE0MTMtNjM1YTExYTY2YjliL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyNTUwMTIyODg@._V1_UY190_CR3,0,128,190_AL_.jpg"
          class="w-16 h-24 shadow-lg">
      </div>
      <div class="pl-3 w-full  text-left">
        <h1 class="font-normal text-sm mb-1 capitalize">John Wick 3 keymo revels and the new ones and</h1>
        <div class="w-auto py-2 p-0 text-xs text-grey-darkest">
          <i class="fas fa-star text-orange"></i>
          <span>8.6 IMDb</span>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full pt-5">
    <div class="p-2 rounded w-full border-0 text-left mb-1 uppercase mb-2 text-black">
      <span class="font-medium text-lg">on cinema</span>
    </div>
    <div class="w-full pb-5 flex flex-wrap">
      <div class="lg:py-5 p-0 relative rounded mx-auto lg:mx-2">
        <img src="https://m.media-amazon.com/images/M/MV5BMTg3MjY1MDUxMV5BMl5BanBnXkFtZTgwMzczNTU2NzM@._V1_SY298_CR0,0,201,298_AL_.jpg"
          class="w-48 h-64 shadow-lg rounded-sm">
        <div class="w-48 lg:mb-6 overflow-hidden text-white absolute pin-b rounded-b-sm p-2 pt-16" style="background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));">
          <h1 class="font-semibold text-base capitalize">the hateful eight</h1>
          <div class="w-auto py-2 p-0 text-xs text-grey">
            <i class="fas fa-star text-orange"></i>
            <span>8.6 IMDb</span>
          </div>
          <p></p>
        </div>
        <div class="w-48 lg:mt-5 overflow-hidden text-white absolute pin-t rounded-t-sm p-2 pb-16" style="background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));">
          <p></p>
          <span class="text-grey ">#2</span>
        </div>
      </div>
      <div class="lg:py-5 p-0 relative rounded mx-auto lg:mx-2">
        <img src="https://m.media-amazon.com/images/M/MV5BMjA1MTc1NTg5NV5BMl5BanBnXkFtZTgwOTM2MDEzNzE@._V1_SY298_CR0,0,201,298_AL_.jpg"
          class="w-48 h-64 shadow-lg rounded-sm">
        <div class="w-48 lg:mb-6 overflow-hidden text-white absolute pin-b rounded-b-sm p-2 pt-16" style="background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));">
          <h1 class="font-semibold text-base capitalize">the hateful eight</h1>
          <div class="w-auto py-2 p-0 text-xs text-grey">
            <i class="fas fa-star text-orange"></i>
            <span>8.6 IMDb</span>
          </div>
          <p></p>
        </div>
        <div class="w-48 lg:mt-5 overflow-hidden text-white absolute pin-t rounded-t-sm p-2 pb-16" style="background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));">
          <p></p>
          <span class="text-grey ">#2</span>
        </div>
      </div>
      <div class="lg:py-5 p-0 relative rounded mx-auto lg:mx-2">
        <div class="w-48 lg:mb-6 overflow-hidden text-white absolute pin-b rounded-b-sm p-2 pt-16" style="background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));">
          <h1 class="font-semibold text-base capitalize">the hateful eight</h1>
          <div class="w-auto py-2 p-0 text-xs text-grey">
            <i class="fas fa-star text-orange"></i>
            <span>8.6 IMDb</span>
          </div>
          <p></p>
        </div>
        <div class="w-48 lg:mt-5 overflow-hidden text-white absolute pin-t rounded-t-sm p-2 pb-16" style="background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));">
          <p></p>
          <span class="text-grey ">#3</span>
        </div>
        <img src="https://m.media-amazon.com/images/M/MV5BMjA5NDQyMjc2NF5BMl5BanBnXkFtZTcwMjg5ODcyMw@@._V1_SY1000_CR0,0,672,1000_AL_.jpg"
          class="w-48 h-64 shadow-lg rounded-sm">
      </div>
      <div class="lg:py-5 p-0 relative rounded mx-auto lg:mx-2">
        <div class="w-48 lg:mb-6 overflow-hidden text-white absolute pin-b rounded-b-sm p-2 pt-16" style="background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));">
          <h1 class="font-semibold text-base capitalize">the hateful eight</h1>
          <div class="w-auto py-2 p-0 text-xs text-grey">
            <i class="fas fa-star text-orange"></i>
            <span>8.6 IMDb</span>
          </div>
          <p></p>
        </div>
        <div class="w-48 lg:mt-5 overflow-hidden text-white absolute pin-t rounded-t-sm p-2 pb-16" style="background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));">
          <p></p>
          <span class="text-grey ">#3</span>
        </div>
        <img src="https://m.media-amazon.com/images/M/MV5BMTcyODgyMzQ5N15BMl5BanBnXkFtZTgwODMyMzg1NzM@._V1_UY268_CR1,0,182,268_AL_.jpg"
          class="w-48 h-64 shadow-lg rounded-sm">
      </div>
      <div class="lg:py-5 p-0 relative rounded mx-auto lg:mx-2">
        <div class="w-48 lg:mb-6 overflow-hidden text-white absolute pin-b rounded-b-sm p-2 pt-16" style="background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));">
          <h1 class="font-semibold text-base capitalize">the hateful eight</h1>
          <div class="w-auto py-2 p-0 text-xs text-grey">
            <i class="fas fa-star text-orange"></i>
            <span>8.6 IMDb</span>
          </div>
          <p></p>
        </div>
        <div class="w-48 lg:mt-5 overflow-hidden text-white absolute pin-t rounded-t-sm p-2 pb-16" style="background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));">
          <p></p>
          <span class="text-grey ">#3</span>
        </div>
        <img src="https://m.media-amazon.com/images/M/MV5BNDYyNzk1NzYwOF5BMl5BanBnXkFtZTgwMTQ0Nzc4MzI@._V1_UY268_CR8,0,182,268_AL_.jpg"
          class="w-48 h-64 shadow-lg rounded-sm">
      </div>
    </div>
  </div>
</aside>