<!-- carousel -->
<section class="w-full lg:p-5 flex flex-wrap bg-black mb-0 border-0">
  <div class="mx-3 lg:mx-5 leading-loose pt-2 pb-3 w-full border-0 text-left mb-2 capitalize border-b border-grey-darkest relative">
    <h1 class="font-semibold text-lg text-white">Trending</h1>
  </div>
  <div class="w-full lg:w-1/3 lg:px-2 my-8">
    <div class="px-3 py-5 lg:p-5 w-full h-auto border-0 relative leading-normal">
      <div class="w-full flex border-none items-start">
        <img src="https://m.media-amazon.com/images/M/MV5BMDg2YzI0ODctYjliMy00NTU0LTkxODYtYTNkNjQwMzVmOTcxXkEyXkFqcGdeQXVyNjg2NjQwMDQ@._V1_UX182_CR0,0,182,268_AL_.jpg"
          class="w-24 h-32 lg:w-32 lg:h-48 shadow-lg">
        <div class="ml-5 pb-5 overflow-hidden">
          <h1 class="font-semibold text-base lg:text-xl text-grey mb-1 capitalize">the devil's playground</h1>
          <span class="text-xs text-grey-darker font-thin capitalize">April 2019</span>
          <p></p>
          <div class="w-auto py-2 p-0 text-xs">
            <i class="fas fa-star text-grey-dark"></i>
            <i class="fas fa-star text-grey-dark"></i>
            <i class="fas fa-star text-grey-dark"></i>
            <i class="fas fa-star text-grey-dark"></i>
            <i class="fas fa-star text-grey-darkest"></i>
            <span class="text-xs ml-2 text-grey-dark">1,025,121 votes</span>
          </div>
          <p class="text-xs lg:text-sm text-grey-dark h-16 overflow-hidden lg:h-auto"> Demo Paragraphe ola mina hola vs clear how this will be done in this way. and its ver complicated for now adays.</p>
        </div>
      </div>
      <div class="px-2 py-1 m-0 absolute pin-r pin-t text-grey">
        <i class="fas fa-ellipsis-v"></i>
        <div class="bg-black w-32 shadow-lg p-3 absolute pin-r z-10 border border-grey-darkest mt-1">
          <div class="px-2 py-1 hover:bg-grey-darkest w-full border-0 text-left capitalize">
            <span class="font-medium">repport</span>
          </div>
          <div class="px-2 py-1 hover:bg-grey-darkest w-full border-0 text-left capitalize">
            <span class="font-medium">to favorite</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full lg:w-1/3 lg:px-2 my-8">
    <div class="px-3 py-5 lg:p-5 w-full h-auto border-0 relative leading-normal">
      <div class="w-full flex border-none items-start">
        <img src="https://m.media-amazon.com/images/M/MV5BYjFhZjk5MjQtYWU1Ny00OGU2LWIwNWEtYjQ2ZGEwODNhMmJlL2ltYWdlXkEyXkFqcGdeQXVyNzIxMDI2NzM@._V1_UY268_CR43,0,182,268_AL_.jpg"
          class="w-24 h-32 lg:w-32 lg:h-48 shadow-lg">
        <div class="ml-5 pb-5 overflow-hidden">
          <h1 class="font-semibold text-base lg:text-xl text-grey mb-1 capitalize">the devil's playground</h1>
          <span class="text-xs text-grey-darker font-thin capitalize">April 2019</span>
          <p></p>
          <div class="w-auto py-2 p-0 text-xs">
            <i class="fas fa-star text-grey-dark"></i>
            <i class="fas fa-star text-grey-dark"></i>
            <i class="fas fa-star text-grey-dark"></i>
            <i class="fas fa-star text-grey-dark"></i>
            <i class="fas fa-star text-grey-darkest"></i>
            <span class="text-xs ml-2 text-grey-dark">1,025,121 votes</span>
          </div>
          <p class="text-xs lg:text-sm text-grey-dark h-16 overflow-hidden lg:h-auto"> Demo Paragraphe ola mina hola vs clear how this will be done in this way. and its ver complicated for now adays.</p>
        </div>
      </div>
      <div class="px-2 py-1 m-0 absolute pin-r pin-t text-grey">
        <i class="fas fa-ellipsis-v"></i>
      </div>
    </div>
  </div>
  <div class="w-full lg:w-1/3 lg:px-2 my-8">
    <div class="px-3 py-5 lg:p-5 w-full h-auto border-0 relative leading-normal">
      <div class="w-full flex border-none items-start">
        <img src="https://m.media-amazon.com/images/M/MV5BMTcyODgyMzQ5N15BMl5BanBnXkFtZTgwODMyMzg1NzM@._V1_UY268_CR1,0,182,268_AL_.jpg"
          class="w-24 h-32 lg:w-32 lg:h-48 shadow-lg">
        <div class="ml-5 pb-5 overflow-hidden">
          <h1 class="font-semibold text-base lg:text-xl text-grey mb-1 capitalize">the devil's playground</h1>
          <span class="text-xs text-grey-darker font-thin capitalize">April 2019</span>
          <p></p>
          <div class="w-auto py-2 p-0 text-xs">
            <i class="fas fa-star text-grey-dark"></i>
            <i class="fas fa-star text-grey-dark"></i>
            <i class="fas fa-star text-grey-dark"></i>
            <i class="fas fa-star text-grey-dark"></i>
            <i class="fas fa-star text-grey-darkest"></i>
            <span class="text-xs ml-2 text-grey-dark">1,025,121 votes</span>
          </div>
          <p class="text-xs lg:text-sm text-grey-dark h-16 overflow-hidden lg:h-auto"> Demo Paragraphe ola mina hola vs clear how this will be done in this way. and its ver complicated for now adays.</p>
        </div>
      </div>
      <div class="px-2 py-1 m-0 absolute pin-r pin-t text-grey">
        <i class="fas fa-ellipsis-v"></i>
      </div>
    </div>
  </div>
</section>