<!-- Footer -->
<div class="w-full lg:p-5 lg:pb-0  flex flex-wrap mb-10 border-0 text-grey" style="background: rgb(16, 16, 16);">
  <div class="w-full lg:w-1/3 p-5 my-8 border-0 relative leading-normal">
    <h1 class="font-semibold text-base lg:text-xl text-white mb-2 capitalize">Company links</h1>
    <div class="py-2 w-full">
      <a href="#">products</a>
    </div>
    <div class="py-2 w-full">
      <a href="#">help</a>
    </div>
    <div class="py-2 w-full">
      <a href="#">tickets</a>
    </div>
    <div class="py-2 w-full">
      <a href="#">affiliate</a>
    </div>
  </div>
  <div class="w-full lg:w-1/3 p-5 my-8 border-0 relative leading-normal">
    <h1 class="font-semibold text-base lg:text-xl text-white mb-2 capitalize">our guid</h1>
    <div class="py-2 w-full">
      <a href="#">terms of use</a>
    </div>
    <div class="py-2 w-full">
      <a href="#">videos, images copyrights</a>
    </div>
    <div class="py-2 w-full">
      <a href="#">partners</a>
    </div>
    <div class="py-2 w-full">
      <a href="#">jobs</a>
    </div>
  </div>
  <div class="w-full lg:w-1/3 p-5 my-8 border-0 relative leading-normal">
    <h1 class="font-semibold text-base lg:text-xl text-white mb-2 capitalize">the devil's playground</h1>
    <div class="py-2 w-full">
      <i class="fab fa-facebook text-grey-dark"></i>
      <a href="#" class="ml-2">Facebook Page</a>
    </div>
    <div class="py-2 w-full">
      <i class="fab fa-twitter text-grey-dark"></i>
      <a href="#" class="ml-2">Twitter</a>
    </div>
    <div class="py-2 w-full">
      <i class="fas fa-envelope text-grey-dark"></i>
      <a href="#" class="ml-2">demo@mail.to</a>
    </div>
  </div>
  <div class="w-full py-5 mx-5 border-t border-grey">
    <img src="http://localhost:3000/example0.png" class="w-10 h-10">
    <div class="float-right p-2">
      <span class="ml-2">all rights reserver to our website 2019.</span>
    </div>
    <div class="float-right p-2">
      <a href="#" class="ml-2">we will be pleased if your read our terms of user</a>
    </div>
  </div>
</div>