<div class="bg-white relative border-0 text-white mt-px shadow-inner p-0 pr-10" style="background: url(&quot;back.jpg&quot;) center center / cover fixed;">
  <div class="p-10 py-16 leading-normal" style="background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));">
    <h1 class="font-bold text-3xl lg:w-2/3 capitalize leading-loose">start watching movies now</h1>
    <p class="mb-5 lg:w-2/3">The best movies in all categories are avialabe now in our platform, you have to create account and start joining the
      awesome journey !</p>
    <button class="bg-green rounded-full px-8 py-3 text-white capitalize ">Login 3$/month</button>
  </div>
</div>
<div class="bg-white p-0 text-center relative border-0 text-grey-dark mb-px">
  <i class="fas fa-angle-left px-5 py-2  text-2xl border-l"></i>
  <i class="fas fa-angle-right px-5 py-2  text-2xl border-l border-r"></i>
</div>