<!-- section: contains white cards..etc -->
<section class="w-full lg:w-4/5 flex flex-wrap lg:py-5">
  <div class="w-full pt-0 pb-5 flex flex-wrap leading-normal">
    <div class="px-2 leading-loose flex flex-wrap lg:flex-no-wrap text-center w-full border-0 text-left text-black uppercase -mt-px text-xs lg:text-sm border-b border-grey lg:mx-5">
      <span class="w-full lg:w-auto font-medium text-lg pt-1">group by</span>
      <div id="dropdown-container" onclick="return toggle(event)" class="cursor-pointer px-2 lg:px-5 py-2 ml-2 font-semibold relative -mb-px hover:text-green border-b-2 border-transparent hover:border-green">
        <span class="capitalize">top watching</span>
        <i class="fas fa-angle-down ml-2"></i>
        <div id="dropdown" class="animated fadeInUp faster hidden bg-grey-lightest w-48 rounded-b shadow-lg p-5 absolute pin-l z-20 mt-2 border-t text-grey-darkest">
          <div class="px-2 py-1 hover:bg-grey-light rounded-sm w-full border-0 text-left capitalize">
            <span class="font-medium">top rating</span>
          </div>
          <div class="px-2 py-1 hover:bg-grey-light rounded-sm w-full border-0 text-left capitalize">
            <span class="font-medium">top old</span>
          </div>
        </div>
      </div>
      <div id="dropdown-container" onclick="return toggle(event)" class="cursor-pointer px-2 lg:px-5 py-2 ml-2 font-semibold relative -mb-px hover:text-green border-b-2 border-transparent hover:border-green">
        <span class="capitalize">of year</span>
        <i class="fas fa-angle-down ml-2"></i>
        <div id="dropdown" class="animated fadeInUp faster hidden bg-grey-lightest w-48 rounded-b shadow-lg p-5 absolute pin-l z-20 mt-2 border-t text-grey-darkest">
          <div class="px-2 py-1 hover:bg-grey-light rounded-sm w-full border-0 text-left capitalize">
            <span class="font-medium">of season</span>
          </div>
          <div class="px-2 py-1 hover:bg-grey-light rounded-sm w-full border-0 text-left capitalize">
            <span class="font-medium">of year</span>
          </div>
          <div class="px-2 py-1 hover:bg-grey-light rounded-sm w-full border-0 text-left capitalize">
            <span class="font-medium">of all</span>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full lg:w-1/2 lg:px-5 mt-8 mb-8">
      <!--Card contains image, title, paragraph, stars..etc-->
      <a class="block bg-white px-3 py-5 lg:p-5 w-full h-auto border-0 shadow rounded-sm relative leading-normal">
        <div class="w-full flex border-none items-start">
          <img src="https://m.media-amazon.com/images/M/MV5BMjkyOWNlYjYtMTNmOS00M2JlLTkxMDgtMWVlMThiZDNiYmQ3XkEyXkFqcGdeQXVyODgwNTk4NDM@._V1_SY298_CR18,0,201,298_AL_.jpg"
            class="w-32 h-48 -mt-5 shadow-lg">
          <div class="relative ml-5 pb-5 overflow-hidden">
            <h1 class="font-semibold text-base lg:text-xl text-grey-darkest mb-1 capitalize">the devil's playground</h1>
            <span class="text-xs text-green-dark font-thin capitalize">By eliza freed</span>
            <p></p>
            <div class="w-auto bg-white py-3 p-0 text-xs">
              <i class="fas fa-star text-orange"></i>
              <i class="fas fa-star text-orange"></i>
              <i class="fas fa-star text-orange"></i>
              <i class="fas fa-star text-grey-light"></i>
              <i class="fas fa-star text-grey-light"></i>
              <span class="text-xs ml-2 text-grey-dark">1,025,121 votes</span>
            </div>
            <p class="text-xs lg:text-sm text-grey-dark h-16 overflow-hidden lg:h-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum est lobortis, auctor leo eget volutpat...</p>
            <div class="w-full pt-2 absolute lg:hidden pin-x pin-b" style="box-shadow: white 0px -7px 20px 25px;"></div>
          </div>
        </div>
        <div id="dropdown-container" onclick="return toggle(event)" class="cursor-pointer px-2 py-1 m-0 absolute pin-r pin-t text-grey">
          <i class="fas fa-angle-down"></i>
          <div id="dropdown" class="animated fadeInUp faster hidden bg-white w-32 shadow-lg p-3 absolute pin-r z-10 text-grey-darker border border-r-0 mt-1">
            <div class="px-2 py-1 hover:bg-grey-light w-full border-0 text-left capitalize">
              <span class="font-medium">repport</span>
            </div>
            <div class="px-2 py-1 hover:bg-grey-light rounded-sm w-full border-0 text-left capitalize">
              <span class="font-medium">to favorite</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="w-full lg:w-1/2 lg:px-5 mt-8 mb-8">
      <!--Card contains image, title, paragraph, stars..etc-->
      <a href="#" class="block bg-white px-3 py-5 lg:p-5 w-full h-auto border-0 shadow rounded-sm relative leading-normal">
        <div class="w-full flex border-none items-start">
          <img src="https://m.media-amazon.com/images/M/MV5BMjkyOWNlYjYtMTNmOS00M2JlLTkxMDgtMWVlMThiZDNiYmQ3XkEyXkFqcGdeQXVyODgwNTk4NDM@._V1_SY298_CR18,0,201,298_AL_.jpg"
            class="w-32 h-48 -mt-5 shadow-lg">
          <div class="relative ml-5 pb-5 overflow-hidden">
            <h1 class="font-semibold text-base lg:text-xl text-grey-darkest mb-1 capitalize">the devil's playground</h1>
            <span class="text-xs text-green-dark font-thin capitalize">By eliza freed</span>
            <p></p>
            <div class="w-auto bg-white py-3 p-0 text-xs">
              <i class="fas fa-star text-orange"></i>
              <i class="fas fa-star text-orange"></i>
              <i class="fas fa-star text-orange"></i>
              <i class="fas fa-star text-grey-light"></i>
              <i class="fas fa-star text-grey-light"></i>
              <span class="text-xs ml-2 text-grey-dark">1,025,121 votes</span>
            </div>
            <p class="text-xs lg:text-sm text-grey-dark h-16 overflow-hidden lg:h-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum est lobortis, auctor leo eget volutpat...</p>
            <div class="w-full pt-2 absolute lg:hidden pin-x pin-b" style="box-shadow: white 0px -7px 20px 25px;"></div>
          </div>
        </div>
        <div id="dropdown-container" onclick="return toggle(event)" class="cursor-point px-2 py-1 m-0 absolute pin-r pin-t text-grey">
          <i class="fas fa-angle-down"></i>
          <div id="dropdown" class="animated fadeInUp faster hidden bg-white w-32 shadow-lg p-3 absolute pin-r z-10 text-grey-darker border border-r-0 mt-1">
            <div class="px-2 py-1 hover:bg-grey-light w-full border-0 text-left capitalize">
              <span class="font-medium">repport</span>
            </div>
            <div class="px-2 py-1 hover:bg-grey-light rounded-sm w-full border-0 text-left capitalize">
              <span class="font-medium">to favorite</span>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="w-full lg:mx-5 py-2 flex">
      <div class="p-2 w-24 text-center bg-white rounded-sm shadow mr-2 capitalize">
        <span class=" ">previous</span>
      </div>
      <div class="p-2 w-8 text-center bg-white rounded-sm shadow mr-2">
        <span class=" ">1</span>
      </div>
      <div class="p-2 w-8 text-center bg-white rounded-sm shadow mr-2">
        <span class=" ">2</span>
      </div>
      <div class="p-2 w-8 text-center bg-white rounded-sm shadow mr-2">
        <span class=" ">3</span>
      </div>
      <div class="p-2 w-8 text-center bg-white rounded-sm shadow mr-2">
        <span class=" ">4</span>
      </div>
      <div class="p-2 w-8 text-center bg-white rounded-sm shadow mr-2">
        <span class=" ">5</span>
      </div>
      <div class="p-2 w-24 text-center bg-white rounded-sm shadow mr-2 capitalize">
        <span class=" ">next</span>
      </div>
    </div>
  </div>
  <div class="w-full pt-0 pb-5 flex flex-wrap leading-normal">
    <div class="p-2 rounded w-full border-0 text-left uppercase lg:mx-5 text-black">
      <span class="font-medium text-lg">trailers</span>
    </div>
    <div class="w-full p-5 lg:mx-5 mt-8 bg-black shadow border-0 flex flex-wrap text-grey leading-loose ">
      <div class="mx-3 pt-2 pb-3 w-full border-0 text-left mb-2 capitalize border-b border-grey-darkest relative">
        <h1 class="font-semibold text-lg text-white">Vikings Season 5</h1>
        <div class="p-2 py-3 absolute pin-r pin-t">
          <i class="fas fa-star text-orange"></i>
          <span>8.6 IMDb</span>
        </div>
      </div>
      <div class="pt-2 p-3 w-full lg:w-1/3 relative">
        <div class="w-full flex pb-2 overflow-hidden mb-2">
          <img src="https://m.media-amazon.com/images/M/MV5BMTkwOGYwZDMtMTViYi00MGU2LWE0MTMtNjM1YTExYTY2YjliL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyNTUwMTIyODg@._V1_UY190_CR3,0,128,190_AL_.jpg"
            class="w-16 h-24 shadow-lg">
          <p></p>
          <div class="w-full pl-3">
            <span class="text-xs text-grey-dark">By Elizabeth Gilbert</span>
            <div class="w-auto py-2 p-0 text-xs">
              <i class="fas fa-star text-grey-dark"></i>
              <i class="fas fa-star text-grey-dark"></i>
              <i class="fas fa-star text-grey-dark"></i>
              <i class="fas fa-star text-grey-dark"></i>
              <i class="fas fa-star text-grey-darkest"></i>
            </div>
          </div>
        </div>
        <p class="overflow-hidden text-sm mb-5">One man against one army, Hamza Nouali the new King of this city wants to destory his enemies by killing theire
          wifes in order to make the without childrens...</p>
        <div class="w-full text-center py-5">
          <!--This should link to the show page-->
          <a href="#" class="bg-green rounded-full px-8 py-3 text-white capitalize">Start Watching</a>
        </div>
      </div>
      <div class="w-full lg:w-2/3 p-3 relative">
        <video width="320" height="240" controls="" class="w-full h-auto rounded-sm">
          <source src="video.mp4" type="video/mp4"> Your browser does not support the video tag.
        </video>
      </div>
      <div class="mx-3 pt-2 pb-3 w-full border-0 text-left mb-2 capitalize border-b border-grey-darkest">
        <h1 class="font-semibold text-lg text-white">watch other seasons</h1>
      </div>
      <div class="w-full py-3 mt-1 flex flex-wrap">
        <div class="w-full lg:w-1/4 p-3 flex leading-tight">
          <div class="w-24">
            <img src="https://m.media-amazon.com/images/M/MV5BMTkwOGYwZDMtMTViYi00MGU2LWE0MTMtNjM1YTExYTY2YjliL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyNTUwMTIyODg@._V1_UY190_CR3,0,128,190_AL_.jpg"
              class="w-16 h-24 shadow-lg">
          </div>
          <div class="pl-3 w-full ">
            <h1 class="font-normal text-sm text-grey mb-1 capitalize">John Wick 3 keymo revels and the new ones and</h1>
            <div class="w-auto py-2 p-0 text-xs">
              <i class="fas fa-star text-grey-dark"></i>
              <i class="fas fa-star text-grey-dark"></i>
              <i class="fas fa-star text-grey-dark"></i>
              <i class="fas fa-star text-grey-dark"></i>
              <i class="fas fa-star text-grey-darkest"></i>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/4 p-3 flex leading-tight">
          <div class="w-24">
            <img src="https://m.media-amazon.com/images/M/MV5BYjFhZjk5MjQtYWU1Ny00OGU2LWIwNWEtYjQ2ZGEwODNhMmJlL2ltYWdlXkEyXkFqcGdeQXVyNzIxMDI2NzM@._V1_UY268_CR43,0,182,268_AL_.jpg"
              class="w-16 h-24 shadow-lg">
          </div>
          <div class="pl-3 w-full ">
            <h1 class="font-normal text-sm text-grey mb-1 capitalize">John Wick 3 keymo revels and the new ones and</h1>
            <div class="w-auto py-2 p-0 text-xs">
              <i class="fas fa-star text-grey-dark"></i>
              <i class="fas fa-star text-grey-dark"></i>
              <i class="fas fa-star text-grey-dark"></i>
              <i class="fas fa-star text-grey-dark"></i>
              <i class="fas fa-star text-grey-darkest"></i>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/4 p-3 flex leading-tight">
          <div class="w-24">
            <img src="https://m.media-amazon.com/images/M/MV5BNDYyNzk1NzYwOF5BMl5BanBnXkFtZTgwMTQ0Nzc4MzI@._V1_UY268_CR8,0,182,268_AL_.jpg"
              class="w-16 h-24 shadow-lg">
          </div>
          <div class="pl-3 w-full ">
            <h1 class="font-normal text-sm text-grey mb-1 capitalize">John Wick 3 keymo revels and the new ones and</h1>
            <div class="w-auto py-2 p-0 text-xs">
              <i class="fas fa-star text-grey-dark"></i>
              <i class="fas fa-star text-grey-dark"></i>
              <i class="fas fa-star text-grey-dark"></i>
              <i class="fas fa-star text-grey-dark"></i>
              <i class="fas fa-star text-grey-darkest"></i>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/4 p-3 flex leading-tight">
          <div class="w-24">
            <img src="https://m.media-amazon.com/images/M/MV5BNDYyNzk1NzYwOF5BMl5BanBnXkFtZTgwMTQ0Nzc4MzI@._V1_UY268_CR8,0,182,268_AL_.jpg"
              class="w-16 h-24 shadow-lg">
          </div>
          <div class="pl-3 w-full ">
            <h1 class="font-normal text-sm text-grey mb-1 capitalize">John Wick 3 keymo revels and the new ones and</h1>
            <div class="w-auto py-2 p-0 text-xs">
              <i class="fas fa-star text-grey-dark"></i>
              <i class="fas fa-star text-grey-dark"></i>
              <i class="fas fa-star text-grey-dark"></i>
              <i class="fas fa-star text-grey-dark"></i>
              <i class="fas fa-star text-grey-darkest"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full pt-0 pb-5 flex flex-wrap leading-normal">
    <div class="p-2 rounded w-full border-0 text-left uppercase lg:mx-5 text-black">
      <span class="font-medium text-lg">top watching</span>
    </div>
    <div class="w-full lg:w-1/2 lg:px-5 mt-8 mb-8">
      <!--Card contains image, title, paragraph, stars..etc-->
      <!--Card contains image, title, paragraph, stars..etc-->
      <!--Card contains image, title, paragraph, stars..etc-->
      <!--Card contains image, title, paragraph, stars..etc-->
      <a href="#" class="block bg-white px-3 py-5 lg:p-5 w-full h-auto border-0 shadow rounded-sm relative leading-normal">
        <div class="w-full flex border-none items-start">
          <img src="https://m.media-amazon.com/images/M/MV5BMjkyOWNlYjYtMTNmOS00M2JlLTkxMDgtMWVlMThiZDNiYmQ3XkEyXkFqcGdeQXVyODgwNTk4NDM@._V1_SY298_CR18,0,201,298_AL_.jpg"
            class="w-32 h-48 shadow-lg">
          <div class="relative ml-5 pb-5 overflow-hidden">
            <h1 class="font-semibold text-base lg:text-xl text-grey-darkest mb-1 capitalize">the devil's playground</h1>
            <span class="text-xs text-green-dark font-thin capitalize">By eliza freed</span>
            <p></p>
            <div class="w-auto bg-white py-3 p-0 text-xs">
              <i class="fas fa-star text-orange"></i>
              <i class="fas fa-star text-orange"></i>
              <i class="fas fa-star text-orange"></i>
              <i class="fas fa-star text-grey-light"></i>
              <i class="fas fa-star text-grey-light"></i>
              <span class="text-xs ml-2 text-grey-dark">1,025,121 votes</span>
            </div>
            <p class="text-xs lg:text-sm text-grey-dark h-16 overflow-hidden lg:h-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum est lobortis, auctor leo eget volutpat...</p>
            <div class="w-full pt-2 absolute lg:hidden pin-x pin-b" style="box-shadow: white 0px -7px 20px 25px;"></div>
          </div>
        </div>
        <div class="px-2 py-1 m-0 absolute pin-r pin-t text-grey">
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </a>
    </div>
    <div class="w-full lg:w-1/2 lg:px-5 mt-8 mb-8">
      <!--Card contains image, title, paragraph, stars..etc-->
      <!--Card contains image, title, paragraph, stars..etc-->
      <!--Card contains image, title, paragraph, stars..etc-->
      <!--Card contains image, title, paragraph, stars..etc-->
      <a href="#" class="block bg-white px-3 py-5 lg:p-5 w-full h-auto border-0 shadow rounded-sm relative leading-normal">
        <div class="w-full flex border-none items-start">
          <img src="https://m.media-amazon.com/images/M/MV5BMjkyOWNlYjYtMTNmOS00M2JlLTkxMDgtMWVlMThiZDNiYmQ3XkEyXkFqcGdeQXVyODgwNTk4NDM@._V1_SY298_CR18,0,201,298_AL_.jpg"
            class="w-32 h-48 shadow-lg">
          <div class="relative ml-5 pb-5 overflow-hidden">
            <h1 class="font-semibold text-base lg:text-xl text-grey-darkest mb-1 capitalize">the devil's playground</h1>
            <span class="text-xs text-green-dark font-thin capitalize">By eliza freed</span>
            <p></p>
            <div class="w-auto bg-white py-3 p-0 text-xs">
              <i class="fas fa-star text-orange"></i>
              <i class="fas fa-star text-orange"></i>
              <i class="fas fa-star text-orange"></i>
              <i class="fas fa-star text-grey-light"></i>
              <i class="fas fa-star text-grey-light"></i>
              <span class="text-xs ml-2 text-grey-dark">1,025,121 votes</span>
            </div>
            <p class="text-xs lg:text-sm text-grey-dark h-16 overflow-hidden lg:h-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum est lobortis, auctor leo eget volutpat...</p>
            <div class="w-full pt-2 absolute lg:hidden pin-x pin-b" style="box-shadow: white 0px -7px 20px 25px;"></div>
          </div>
        </div>
        <div class="px-2 py-1 m-0 absolute pin-r pin-t text-grey">
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </a>
    </div>
    <div class="w-full lg:w-1/2 lg:px-5 mt-8 mb-8">
      <!--Card contains image, title, paragraph, stars..etc-->
      <!--Card contains image, title, paragraph, stars..etc-->
      <!--Card contains image, title, paragraph, stars..etc-->
      <!--Card contains image, title, paragraph, stars..etc-->
      <a href="#" class="block bg-white px-3 py-5 lg:p-5 w-full h-auto border-0 shadow rounded-sm relative leading-normal">
        <div class="w-full flex border-none items-start">
          <img src="https://m.media-amazon.com/images/M/MV5BMjkyOWNlYjYtMTNmOS00M2JlLTkxMDgtMWVlMThiZDNiYmQ3XkEyXkFqcGdeQXVyODgwNTk4NDM@._V1_SY298_CR18,0,201,298_AL_.jpg"
            class="w-32 h-48 shadow-lg">
          <div class="relative ml-5 pb-5 overflow-hidden">
            <h1 class="font-semibold text-base lg:text-xl text-grey-darkest mb-1 capitalize">the devil's playground</h1>
            <span class="text-xs text-green-dark font-thin capitalize">By eliza freed</span>
            <p></p>
            <div class="w-auto bg-white py-3 p-0 text-xs">
              <i class="fas fa-star text-orange"></i>
              <i class="fas fa-star text-orange"></i>
              <i class="fas fa-star text-orange"></i>
              <i class="fas fa-star text-grey-light"></i>
              <i class="fas fa-star text-grey-light"></i>
              <span class="text-xs ml-2 text-grey-dark">1,025,121 votes</span>
            </div>
            <p class="text-xs lg:text-sm text-grey-dark h-16 overflow-hidden lg:h-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum est lobortis, auctor leo eget volutpat...</p>
            <div class="w-full pt-2 absolute lg:hidden pin-x pin-b" style="box-shadow: white 0px -7px 20px 25px;"></div>
          </div>
        </div>
        <div class="px-2 py-1 m-0 absolute pin-r pin-t text-grey">
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </a>
    </div>
    <div class="w-full lg:w-1/2 lg:px-5 mt-8 mb-8">
      <!--Card contains image, title, paragraph, stars..etc-->
      <!--Card contains image, title, paragraph, stars..etc-->
      <!--Card contains image, title, paragraph, stars..etc-->
      <!--Card contains image, title, paragraph, stars..etc-->
      <a href="#" class="block bg-white px-3 py-5 lg:p-5 w-full h-auto border-0 shadow rounded-sm relative leading-normal">
        <div class="w-full flex border-none items-start">
          <img src="https://m.media-amazon.com/images/M/MV5BMjkyOWNlYjYtMTNmOS00M2JlLTkxMDgtMWVlMThiZDNiYmQ3XkEyXkFqcGdeQXVyODgwNTk4NDM@._V1_SY298_CR18,0,201,298_AL_.jpg"
            class="w-32 h-48 shadow-lg">
          <div class="relative ml-5 pb-5 overflow-hidden">
            <h1 class="font-semibold text-base lg:text-xl text-grey-darkest mb-1 capitalize">the devil's playground</h1>
            <span class="text-xs text-green-dark font-thin capitalize">By eliza freed</span>
            <p></p>
            <div class="w-auto bg-white py-3 p-0 text-xs">
              <i class="fas fa-star text-orange"></i>
              <i class="fas fa-star text-orange"></i>
              <i class="fas fa-star text-orange"></i>
              <i class="fas fa-star text-grey-light"></i>
              <i class="fas fa-star text-grey-light"></i>
              <span class="text-xs ml-2 text-grey-dark">1,025,121 votes</span>
            </div>
            <p class="text-xs lg:text-sm text-grey-dark h-16 overflow-hidden lg:h-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum est lobortis, auctor leo eget volutpat...</p>
            <div class="w-full pt-2 absolute lg:hidden pin-x pin-b" style="box-shadow: white 0px -7px 20px 25px;"></div>
          </div>
        </div>
        <div class="px-2 py-1 m-0 absolute pin-r pin-t text-grey">
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </a>
    </div>
    <div class="w-full lg:mx-5 py-2 flex">
      <div class="p-2 w-8 text-center bg-white rounded-sm shadow mr-2 capitalize">
        <i class="fas fa-angle-left"></i>
      </div>
      <div class="p-2 w-8 text-center bg-white rounded-sm shadow mr-2">
        <span class=" ">1</span>
      </div>
      <div class="p-2 w-8 text-center bg-white rounded-sm shadow mr-2">
        <span class=" ">2</span>
      </div>
      <div class="p-2 w-8 text-center bg-white rounded-sm shadow mr-2">
        <span class=" ">3</span>
      </div>
      <div class="p-2 w-8 text-center bg-white rounded-sm shadow mr-2">
        <span class=" ">4</span>
      </div>
      <div class="p-2 w-8 text-center bg-white rounded-sm shadow mr-2">
        <span class=" ">5</span>
      </div>
      <div class="p-2 w-8 text-center bg-white rounded-sm shadow mr-2 capitalize">
        <i class="fas fa-angle-right"></i>
      </div>
    </div>
  </div>
</section>