<!-- Black Navigation -->
<div class="w-full px-6 border-0 py-0 bg-black flex items-center flex-no-shrink text-white mr-6 relative ">
  <div class="px-2 py-2 border-b-2 border-transparent hover:border-green-light hover:bg-grey-darkest hover:text-green-light">
    <span>Contact Us</span>
  </div>
  <div class="bg-yellow text-black border-b-2 border-transparent px-2 py-2 font-medium">
    <span>Buy 19$</span>
  </div>
</div>
<!-- White Navigation --> 
<div class="w-full bg-white px-2 py-0 border-0 shadow-lg">
  <div class="w-full px-2 bg-white border-0 relative p-0 hidden lg:flex">
    <div class="px-2 border-b-2 border-transparent hover:bg-grey-lightest">
      <img src="http://localhost:3000/example0.png" class="w-10 h-10 mt-3">
    </div>
    <div class="px-2 py-5 border-b-2 border-transparent hover:border-grey-darker hover:bg-grey-lightest">
      <span>News</span>
    </div>
    <div class="px-2 pt-px flex items-start absolute pin-r pin-y mr-2">
      <button class="bg-green rounded-full px-8 py-2 text-white mt-3">Login</button>
    </div>
    <div class="px-2 py-5 border-b-2 border-transparent hover:border-grey-darker hover:bg-grey-lightest">
      <span>Pricing</span>
    </div>
    <div class="px-2 py-5 border-b-2 border-transparent hover:border-grey-darker hover:bg-grey-lightest">
      <span>Pricing</span>
    </div>
    <div class="px-2 border-b-2 border-transparent">
      <div class="px-2 mt-3 mr-2 relative">
        <input disabled="true" type="search" class="w-64 font-normal px-5 pr-5 py-2 bg-white border rounded-full" placeholder="search">
      </div>
    </div>
  </div>
  <div class="w-full px-2 bg-white border-0 flex relative p-0 text-grey-darker lg:hidden">
    <div class="px-2 border-b-2 border-transparent hover:bg-grey-lightest">
      <img src="http://localhost:3000/example0.png" class="w-10 h-10 mt-3">
    </div>
    <div class="px-2 py-5 flex items-start absolute pin-r pin-y mr-2">
      <i class="fas fa-bars"></i>
    </div>
  </div>
  <div class="w-full p-2 bg-white relative p-0 text-grey-darker border-t lg:hidden">
    <div class="p-2 text-center">
      <div class="px-2 mr-2 relative">
        <input disabled="true" type="text" class="w-full font-thin pl-10 pr-5 py-2 bg-indigo-lightest rounded-full" placeholder="placeholder">
        <i class="fas fa-search absolute pin-l mt-2 ml-5 text-grey"></i>
      </div>
    </div>
    <div class="p-2 text-center border-b">
      <span>News</span>
    </div>
    <div class="p-2 text-center">
      <span>News</span>
    </div>
    <div class="p-2 text-center">
      <button class="bg-blue rounded-full px-8 py-2 text-white font-thin w-full">Login</button>
    </div>
  </div>
</div>